.banner{
    background-image: url('../../../assets/images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width:600px){
    .banner-img{
        width:100%;
    }
}